body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  width: 80px;
  padding: 5px;
  display: inline-block;
  font-size: 1.2em;
}

input[type=text] {
  padding: 2px;
  width: 300px;
  font-size: 1.2em;
}
